name: "{{ inventory_hostname }}"
data-dir: "/var/lib/etcd/default.etcd"
listen-peer-urls: "http://{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:2380"
listen-client-urls: "http://{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379"
initial-advertise-peer-urls: "http://{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:2380"
initial-cluster: "{% for host in groups['cluster'] %}{% if loop.last %}{{ host }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380{% else %}{{ host }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380,{% endif %}{% endfor %}"
initial-cluster-state: "new"
initial-cluster-token: "etcd-cluster-1"
advertise-client-urls: "http://{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:2379"